@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  *,
  *::after,
  *::before {
    @apply box-border;
  }

  :root {
    font-size: 14px;
    --color-text: #151515;
    --color-bg: #fff;
    --color-link: #151515;
    --color-link-hover: #000000;
    --color-close: #a22d1d;
    --page-padding: 1.5rem;
    --c-gap: 0.5rem;
    --column: 80px;
    --column-count: 4;
    --aspect: 4/5;
    --font-size-l: 18px;
    --font-size-xl: clamp(2rem, 10vw, 6rem);
    --panel-gap: 1rem;
    --panel-img-size: calc((100vh - var(--page-padding) * 2) * 4 / 5 - var(--panel-gap));
    text-transform: lowercase;
  }

  body {
    @apply m-0 text-[var(--color-text)] bg-[var(--color-bg)] font-halyard antialiased leading-[1.2] lowercase;
  }

  @media (scripting: enabled) {

    .loading::before,
    .loading::after {
      content: '';
      @apply fixed z-[10000];
    }

    .loading::before {
      @apply top-0 left-0 w-full h-full;
      background: var(--color-bg);
    }

    .loading::after {
      @apply top-1/2 left-1/2 w-[100px] h-[1px] -ml-[50px];
      background: var(--color-link);
      animation: loaderAnim 1.5s ease-in-out infinite alternate forwards;
    }
  }

  @keyframes loaderAnim {
    0% {
      transform: scaleX(0);
      transform-origin: 0% 50%;
    }

    50% {
      transform: scaleX(1);
      transform-origin: 0% 50%;
    }

    50.1% {
      transform: scaleX(1);
      transform-origin: 100% 50%;
    }

    100% {
      transform: scaleX(0);
      transform-origin: 100% 50%;
    }
  }

  a {
    @apply no-underline text-[var(--color-link)] outline-none cursor-pointer;
  }

  a:hover {
    @apply no-underline text-[var(--color-link-hover)];
  }

  a:focus {
    @apply outline-none bg-gray-300;
  }

  a:focus:not(:focus-visible) {
    @apply bg-transparent;
  }

  a:focus-visible {
    @apply outline-2 outline-red-500 bg-transparent;
  }
}

@layer components {
  .line {
    @apply inline-block overflow-hidden relative align-top;
  }

  .line::before {
    @apply absolute bottom-0 left-0 w-full h-[1px] bg-current;
    content: '';
    transition: transform 0.4s ease;
    transform: scaleX(0);
    transform-origin: right center;
  }

  .line:hover::before {
    @apply scale-x-100;
    transform-origin: left center;
  }

  .mover {
    @apply fixed;
    aspect-ratio: var(--aspect);
    background-size: cover;
    background-position: 50% 50%;
    will-change: transform, clip-path;
    pointer-events: none;
  }

  .grid {
    @apply py-4;
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(var(--column), 1fr));
    grid-column-gap: var(--c-gap);
    grid-row-gap: 5rem;
  }

  .panel {
    grid-template-areas: 'panel-image' 'panel-content';
  }

  @media screen and (min-width: 40em) {
    .panel {
      grid-template-columns: var(--panel-img-size) 1fr;
      grid-template-areas: 'panel-image panel-content';
      grid-template-rows: 100%;
    }

    .panel--right {
      grid-template-columns: 1fr var(--panel-img-size);
      grid-template-areas: 'panel-content panel-image';
    }
  }

  .panel__img {
    grid-area: panel-image;
  }

  .panel__content {
    grid-area: panel-content;
  }

  @media screen and (min-width: 65em) {
    :root {
      --column-count: 8;
    }

    .panel--right .panel__content {
      @apply items-start text-left;
    }
  }
}